<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Flask Website </title>
    <link href="../static/style.css"rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="block1">
        <h1>Hello Neil </h1>
        <h2>Here is another interesting
        quote for you:</h2>
        <p>"Computer science is no more
        about computers than astronomy is about
        telescopes" -- Edsger Dijkstra</p>
        <img src="https://i.etsystatic.com/8213963/r/il/bc75e8/2655957828/il_fullxfull.2655957828_tlu0.jpg">
        <div>
            <a href="/">Home</a>
            <a href="/cat">Cat</a>
        </div>
    </div>

</body>
</html>