<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Flask Website </title>
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="block1">
        <h1>Hello Neil </h1>
        <h2>Here is an interesting quote for you:</h2>
        <p>"Mathematics is the key and door to the sciences.' -- Galileo Galilei"</p>
        <img src="http://www.naturalprogramming.com/images/smilingpython.gif">
        <div>
            <a href="/">Home</a>
            <a href="/cat">Cat</a>
        </div>
    </div>

</body>
</html>